@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: "Open Sans", sans-serif;
}
body{
    background: #F5F4F0;
}
#container{
    width: 1120px;
    margin: 88px auto;
    
}
h4{
    color: #E1624F;
    font-size: 16px;
    font-weight: bold;
}
h1, h2, h3{
    color: #1B1B1B;
}
h1{
    font-size: 36px;
    margin-top: 8px;
    margin-bottom: 40px;
}
h2{
    margin: 2px auto 8px;
}
img{
    border-radius: 28px;
    margin-bottom: 20px;
}
#subtitle{
    text-align: center;
    font-style: italic;
    color: #333333;
    margin-top: 24px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
#content-list{
    margin: 40px auto;
    border-top: solid #D9D9D9 1px;
    border-bottom: solid #d9d9d9 1px;
    
}
#title-list{
    margin: 64px auto;
}
p{
    font-size: 16px;
    color: #333333;
}
ol{
    margin-top: 64px;
}
.card{
    list-style-type: none;
}

ul{
    list-style-position: inside;
    list-style-type: disc;
    color: #0C51A7;
    margin-bottom: 48px;
}
.list-park{
    color: #591B98;
    margin-bottom: 40px;
}
.list-park li + li{
    color:#E5245E;
}
.list-park li + li + li{
    color:#E95E10;
}
footer{
    text-align: center;
    color: #333333;
    font-family: 'Alice', serif;
    font-size: 16px;
    margin: 65px auto;
    vertical-align: middle;
    /* display: flex; */
}
